body, .App {
  text-align: center;
  background-color: hsl(243, 96%, 9%);
  color: hsl(0, 0%, 100%);
  font-family: 'DM Sans', sans-serif;
}

.App-logo {
  height: 40px;
  padding-left: 40px;
  padding-top: 40px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}


.metrics-header {
  display: flex;
  gap: 24px;
}

.metric-option {
  color: hsl(243, 23%, 24%);
  font-size: 18px;
  font-weight: bold;
}

/* .App-header {
  
} */

.App-link {
  color: #61dafb;
}

.units-dropdown-container {
  position: relative;
  display: inline-block;
  padding-top: 40px;
  padding-right: 40px;
}

.units {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: hsl(243, 27%, 20%);
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.units-icon {
  width: 20px;
  height: 20px;
}

.units-label {
  margin: 0 4px;
  font-weight: bold;
}

.units-dropdown {
  position: absolute;
  right: 0;
  top: 110%;
  background: hsl(243, 27%, 20%);
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 10;
  border-radius: 6px;
  padding: 12px;
  margin-top: 6px;
  margin-right: 40px;
  text-align: left;
}

.dropdown-section {
  margin-bottom: 12px;
}

.dropdown-title {
  font-size: small;
  color: hsl(250, 6%, 84%);
  margin-bottom: 6px;
  padding-left: 8px;
}

.dropdown-option {
  font-size: small;
  font-weight: bold;
  color: #ffffff;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-option.selected, .dropdown-option:hover {
  background: hsl(243, 23%, 30%);
  color: #ffffff;
}

.tick {
  margin-left: auto;
  margin-right: 0;
}

.dropdown-separator {
  border: none;
  border-top: 1px solid hsl(250, 6%, 84%);
  padding-left: 10px;
}

.Header-Text{
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: xxx-large;
  padding: 2px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 12px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 12px;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.search-input {
  padding: 10px 120px 10px 60px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  width: 240px;
  background: hsl(243, 27%, 20%);
  color: #fff;
  font-family: 'DM Sans', sans-serif;
}

.search-input::placeholder {
  color: hsl(250, 6%, 84%);
  font-size: 18px;
}

.search-btn {
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  background: hsl(233, 67%, 56%);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  transition: background 0.2s;
}

.search-btn:hover {
  background: hsl(248, 70%, 36%);
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-container{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  gap: 20px;
}
.daily{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  min-height: 600px;
  border-radius: 16px;
}
.hourly{
  display: flex;
  flex-direction: column;
  background-color: hsl(243, 27%, 20%);
  width: 380px;
  height: 640px;
  border-radius: 16px;
}
.date-time {
  width: 100%;
  height: 260px;
  background-image: url('./images/bg-today-large.svg');
  background-repeat: no-repeat;
  background-size: cover;      /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 2%;    
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;        /* Ensures border-radius clips the background */
  flex-wrap: wrap;
}
.left{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-left: 20px;
}
.right{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 300px;
  margin-right: 20px;
}
.header-temp{
  font-size: 6.2em;
  font-style: italic;
  margin-left: 10px;
}
.header-date-time{
  font-size: 1em;
  align-self: flex-start;
  margin-left: 12px;
  margin-top: 2%;
}
.header-loc{
  font-size: 2em;
  align-self: flex-start;
  margin-left: 12px;
  margin-bottom: 2%;
}
.curr-weather-icon{
  height: 100px;
  width: 100px;
}
.current-data{
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
.curr-cards{
  background-color: hsl(243, 27%, 20%);
  min-height: 110px;
  min-width: 190px;
  border-radius: 16px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.curr-cards-header{
  color: hsl(250, 6%, 84%);
  margin-left: 10%;
  margin-bottom: 0;
}
.curr-cards-results{
  margin-left: 10%;
  font-size: 2em;
  font-weight: 100;
  margin-top: 12px;
  margin-bottom: 0;
}
.weekly-data{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.weekly-card-container{
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
.weekly-icon{
  height: 60px;
  width: 60px;
}
.weekly-max-min{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.day-card{
  background-color: hsl(243, 27%, 20%);
  height: 160px;
  width: 100px;
  border-radius: 16px;
  margin-top: 10px;
}
.daily-forecast{
  text-align: left;
}
.suggestions-list {
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: hsl(243, 27%, 20%);
  color: #fff;
  border-radius: 16px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

.suggestion-item {
  padding: 10px 16px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #444;
}

.suggestions-list::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}

.hourly-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
}

.hourly-header-text{
  margin: 0 4px;
  font-size: large;
  font-weight: 600;
}

.hourly-button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  background-color: hsl(243, 23%, 30%);
  color: #fff;
  border-radius: 8px;
  border: none;
  gap: 8px;
}

.dropdown-day{
  margin: 0 4px;
  font-size: 1.1em;
  font-family: 'DM Sans', sans-serif;
}

.hourly-data-display{
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 0;
  overflow-y: auto;
}

.hourly-data-display::-webkit-scrollbar{
  width: 20px;
}
.hourly-data-display::-webkit-scrollbar-track{
  background: transparent;
}
.hourly-data-display::-webkit-scrollbar-thumb{
  background: hsl(243, 23%, 30%);
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.hourly-data-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(243, 23%, 24%);
  border-radius: 8px;
  margin-bottom: 10px;
}

.hourly-data-icon{
  height: 58px;
  width: 58px;
  padding-left: 2%;
}

.hourly-data-time{
  padding-right: 50%;
  font-size: 1em;
}

.hourly-data-temp{
  padding-right: 4%;
  font-size: 1em;
}

.days-container{
  display: inline-block;
  position: relative;
}

.days-dropdown{
  position: absolute;
  background-color: hsl(243, 23%, 24%);
  border-radius: 8px;
  top: 120%;
  right: 0;
  text-align: start;
  width: 200px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
.day-list{
  margin-left: 6%;
  margin-right: 6%;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}
.day-list.selected, .day-list:hover{
  background-color: hsl(243, 23%, 30%);
}

@media (max-width: 720px) {
  .date-time {
    background-image: url(./images/bg-today-small.svg);
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .left, .right {
    min-width: 0;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .search-btn{
    width: 420px;
  }
}